/* styles.css */

@font-face {
    font-family: "Monograph";
    src: url("https://cdn.jsdelivr.net/gh/bram-vervust/my-fonts/monograph-Regular.ttf")
         format("truetype");
    font-weight: normal;
    font-style: normal;
}

