/* styles.css */

@font-face {
    font-family: "Monograph";
    src: url("https://raw.githubusercontent.com/bram-vervust/my-fonts/refs/heads/main/monograph-Regular.ttf")
         format("truetype");
    font-weight: normal;
    font-style: normal;
}
